<routes>
    <route>
        <method>GET|POST</method>
        <route>/</route>
        <controller>form\src\Modules\Form\Controllers\FormController</controller>
    </route>
    <route>
        <method>GET|POST</method>
        <route>/Test</route>
        <controller>form\src\Modules\Form\Controllers\Test</controller>
    </route>
</routes>