{% extends 'layout.html.twig' %}

{% block main %}
    <form method="POST">
        {% for item in form.items %}
            {% include item.template %}
        {% endfor %}
    </form>
{% endblock %}