{% extends 'base.twig' %}

{% block body %}
    <div class="uk-margin-large-top">
        <div class="uk-container">
            {% block main %}
            {% endblock %}
        </div>
    </div>
{% endblock %}